body {
  background-color: white;
}

h1 {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.info-container {
  display: flex;
  justify-content: center;
}

.player-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card,
.info-card {
  border: 3px solid darkred;
  background-color: darkblue;
  color: white;
  border-radius: 15px;
  width: 250px;
  padding: 10px;
  list-style: none;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-button {
  border: 1px solid black;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
}

.link-button a {
  text-decoration: none;
  color: darkred;
}
